FMG_serv/test-serv/public/hello_css_test/shots/
FMG_serv/test-serv/public/hello_css_test_mob/shots/
FMG_serv/test-serv/public/wraith_css_test/shots/
FMG_serv/test-serv/public/wraith_css_test_mob/shots/
FMG_serv/test-serv/public/spletnik_css_test/shots/
FMG_serv/test-serv/public/spletnik_css_test_mob/shots/
.idea/dictionaries/
.vscode/





